body{
  background-color: : radial-gradient,(pink, #ffe9a9);
  color: #fff;
  font-family: herculanum;
  text-align: center;
}

h1{
  text-align: center;
  font-weight: bold;
}

.clock{
  font-size: 100px;
}
.clock:hover{
  color: pink;
}
.timeBar{
  height: 10px;
  background-color: orange;
  text-align: center;
  width: 100%;
}
 .clock .h::after, .clock .m::after{
  content: ":";
  padding-left: 10px;
}
